
@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}




.sidebar[data-background-color=dark2] .nav .nav-item.submenu, .sidebar[data-background-color=dark2] .nav .nav-item>a:focus, .sidebar[data-background-color=dark2] .nav .nav-item>a:hover, .sidebar[data-background-color=dark] .nav .nav-item.submenu, .sidebar[data-background-color=dark] .nav .nav-item>a:focus, .sidebar[data-background-color=dark] .nav .nav-item>a:hover {
    background: rgb(255 255 255);
}

.sidebar[data-background-color=dark] .nav>.nav-item a:focus p, .sidebar[data-background-color=dark] .nav>.nav-item a:hover p, .sidebar[data-background-color=dark] .nav>.nav-item a[data-toggle=collapse][aria-expanded=true] p {
    color: #0b182f !important;
}
